<div class = "container">
	<div class = "row">
		<div class = "col-xs-8 col-xs-offset-1">
			<h3>退会手続きページ</h3>
			<span>
				<%= link_to "退会しない", tourist_tourist_path(current_tourist), class: "btn btn-default" %>
			</span>
			<span>
				<%= link_to "退会する", tourist_tourist_path(current_tourist), data: { confirm: "本当に退会しますか?" }, method: :delete ,class: "btn btn-danger" %>
			</span>
		</div>
	</div>
</div>