// Place all the styles related to the guide/rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.guide-chat-form-field {
	z-index: 100px;
	position: fixed;
	top: 150px;
	width: 100%;
	height: 100px;
}

.guide-room-wrapper{
  position: relative;
  padding: 40px 0 40px;
}




@media screen and (max-width:480px) {
  .guide-btn-to-rooms {
    display: none;
  }

  .guide-chat-form-field {
    z-index: 100px;
    position: fixed;
    top: 660px;
    width: 100%;
    height: 90px;
  }

  .guide-room-wrapper{
    position: relative;
    padding: 40px 0 150px;
  }

  .guide-chat-form {
    padding: 20px;
  }
}