// Place all the styles related to the guide/tours controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



// ツアーの新規投稿
.right-bar{
	padding-top: 40px;
}

//body入力フィールド
.tour-body{
	width: 90%;
	height: 300px;
}

// contents_of_price入力フィールド
.contents_of_price{
	height: 50px;
}

// ツアー写真送信ボタン
.tour-photo-submit {
	margin-top: 40px;
}

.meetingpoint_introduction_text_area {
	height: 180px;
	width: 90%;
}

.guide-tour-body-text {
	height: 180px;
	width: 100%;
}

.tour-photos-example-wrapper {
	margin-top: 40px;
}

.tour-photos-example-text {
	margin-bottom: 20px;
	color: red;
}

// ブックマーク数
.book-mark-count {
	font-size: 30px;
}