// Place all the styles related to the guide/tours controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.tour-new-headline {
  text-align: center;
}

.guide-tour-page {
  margin: 20px 0 60px;
}

.guide-tour-info-text {
	border-bottom: dotted 0.1px gray;
	margin-bottom: 40px;
  }

.guide-tour-text-field {
  height: 50px;
  font-size: 20px;
}

.guide-tour-text-area {
  height: 200px;
  font-size: 15px;
  width: 60%;
}

// ----- ツアー一覧 ------
.guide-genre-panel {
  text-align: center;
}

.guide-genre-panel p {
  float: left;
  margin-right: 30px;
}

.tours-info-box {
  box-shadow: 0 15px 15px #666666;
  border: solid 0.1px gray;
  border-radius: 8px;
  margin: 30px 0 0 30px;
  padding: 15px;
  border-radius: 5%;
	box-shadow: 0 15px 15px #666666;
}

.tours-info-box h4 {
  text-align: center;
  margin-top: 10px;
}




  //  ----------   レスポンシブ（タブレット）   ---------------
@media screen and (max-width:992px) {
  .tour-photos-example-wrapper {
    display: none;
  }
}





@media screen and (max-width:767px) {
.tour-photos-example-wrapper {
	display: none;
}

.guide-tour-text-area {
  height: 200px;
  font-size: 15px;
  width: 90%;
}

.tours-info-box {
  box-shadow: 0 15px 15px #666666;
  border: solid 0.1px gray;
  border-radius: 8px;
  margin: 30px 0 0 30px;
  padding: 7px;
  border-radius: 5%;
	box-shadow: 0 15px 15px #666666;
}

}
