<div class = "tours-first-wrapper">

	<%# --- ツーリストトップ画面の写真 --- %>
	<div class = "tourist-top-image">
		<div class = "tourist-top-image-box">
			<span class = "tourist-login-message"><%= flash[:notice] %></span>
			<span class = "tourist-top-image-box-text">あなただけの特別な旅を</br>FANTRAで見つけましょう</span>

		</div>
	</div>

	<%# ---- ジャンル検索ボタン ---- %>
    <div class = "container">
        <div class = "row">
            <div class = "genres-box-tab">
                <div class = "col-md-4 col-md-offset-1">
                    <h3 class = "tourist-headline">気になるジャンルから選択</h3>
                </div>
                <div class= "col-md-5 col-md-offset-2 col-xs-offset-2">
                    <% @genres.each do |genre| %>
                        <%= link_to tourist_tourist_tours_path(current_tourist, genre_id: genre.id), class: "btn btn-default tourist-genre-btn" do %>
                            <% genre.name %>
                        <% end %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
<div class = "tours-second-wrapper">
	<%= render 'partial/tours_second_wrapper', tours: @tours, genre: @genre %>
</div>


<%= javascript_pack_tag 'tour_show.js' %>