<div class = "container">
	<div class = "row">
		<div class = "col-xs-4">
			<h1>過去すべての予約</h1>
		</div>
	</div>
	<%= render 'index', day_of_orders: @day_of_orders, total_sales: @total_sales, day_of_total_sales: @day_of_total_sales  %>
</div>