<div class = "chat-index-notice-ball">
  <% room.chats.each do |chat| %>
    <% if tourist_signed_in? %>
      <% if chat.is_tourist == false %>
        <% chat.chat_notices.each do |notice| %>
          <% if notice.checked == false %>
            <i class="fas fa-circle " style = "color: orange;"></i>
          <% end %>
        <% end %>
      <% end %>
    <% elsif guide_signed_in? %>
      <% if chat.is_tourist == true %>
        <% chat.chat_notices.each do |notice| %>
          <% if notice.checked == false %>
            <i class="fas fa-circle " style = "color: orange;"></i>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
 </div>