// Place all the styles related to the admin/tours controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


// 販売ステータスボタン
.admin_tour_status {
	font-size: 30px;
}


.tour_is_active-tbody {
	color: red;
	background-color: pink;
}

.admin-cities-btn {
    width: 100%;
    
}

.admin-genres-btn {
    width: 100%;
    margin-top: 40px;
}

