// Place all the styles related to the admin/tours controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



.admin-cities-btn {
    width: 100%;
    
}

.admin-genres-btn {
    width: 100%;
    margin-top: 40px;
}