<% if city.errors.any? %>
    <div class ="error_explanation">
      <h2><%= city.errors.count %>件のエラーがあります。</h2>
      <ul>
	      <% city.errors.full_messages.each do |message| %>
	        <li><%= message %></li>
	      <% end %>
      </ul>
    </div>
<% end %>