<div class = "container">
	<div class = "row">
		<%= render 'admin/cities/errors', city: @city %>
		<div class = "col-xs-6 col-xs-offset-3">
			<h2 class = "genre-edit-headline">ジャンル編集画面</h2>
			<%= form_for(@city, url: admin_city_path(@city)) do |f| %>
				<div class = "form_field">
			        <%= f.text_field :name, class: "city-form" %>
		        </div>
		        <div class = "form_field">
			    	<%= f.submit  "編集", class: "btn btn-success city-form" %>
			    </div>
			<% end %>
		</div>
	</div>
</div>
