// Place all the styles related to the tourist/orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.confirm-box {
	margin-top: 50px;
}

.order-confirm-title {
	margin-bottom: 60px;
}

.order-form-group {
	margin: 20px 0 20px;
}

.oreder-warning {
    margin-bottom: 90px;
}