// Place all the styles related to the tourist/orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.confirm-box {
	margin-top: 50px;
}

.order-confirm-title {
	margin-bottom: 60px;
}

.order-form-group {
	margin: 20px 0 20px;
}

.oreder-warning {
    margin-bottom: 90px;
}


// レビュー投稿
.review-text-field {
	height: 200px;
	width: 100%;
}



  //  ----------   レスポンシブ   ---------------
  @media screen and (max-width:480px) {
  .order-form-group {
    margin: 20px 0 20px;
    text-align: center;
  }

  .order-new-btn {
    margin-left: 100px;
  }
  }


