// Place all the styles related to the tourist/rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.chat-index-box {
  border: solid 3px gray;
  height: 60px;
}

.chat-index-box h4 {
  float: left;
  padding-left: 90px;
}


.room-wrapper{
	position: relative;
}

.chat-form-field{
	z-index: 500px;
	position: fixed;
	top: 150px;
	width: 100%;
	height: 100px;
}

.btn-to-rooms {
	padding-bottom: 80px;
}

.chat-time{
	font-size: 10px;
}

.chat{
	margin: 20px 0 20px;
}

.vacant-chat {
	color: red;
}


@media screen and (max-width:480px) {
  .chat-index-box {
    border: solid 3px gray;
    height: 90px;
    width: 100%;
  }

  .chat-index-box h4 {
    float: none;
    padding-left: 0;
  }

  .rooms-index-title {
    font-size: 20px;
  }

}