// Place all the styles related to the tourist/searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/




.city-search-result {
  color: green;
  margin: 50px 0 100px;
}

.serach_nil {
  width: 30%;
}


@media screen and (max-width:480px) {
  .serach_nil {
    width: 100%;
  }
}