// Place all the styles related to the tourist/tours controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


// ツアー一覧ページトップ画像
.tourist-top-image {
    background-image: image-url("IMG_1533.jpeg");
    background-attachment: fixed;
	background-size: cover;
	background-position: center;
	height: 500px;
}

.tourist-top-image-box {
    width: 40%;
    height: 500px;
    background-color: rgba( 0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    position: relative;
}

.tourist-top-image-box-text {
    font-size: 30px;
    padding: 90px;
    position: absolute;
    top: 150px;
    left: 20px;
    width: 100%;
}

.tourist-login-message {
    font-size: 20px;
    position: absolute;
    top: 40px;
    left: 70px;
    color: lime;
}



// ジャンルタブメニュー
.tourist-second-wrapper {
	background-color: black;
	height: 180px;
}

.genres-box {
    margin-top: 40px;
}

.tourist-genre-btn {
    margin-right: 10px;
    font-family: "M PLUS 1p";
    font-weight: bold;
}

.genre_name {
    color: limegreen;
    margin-bottom: 30px;
    font-family: "M PLUS 1p";
	font-weight: bold;
}


// 予約へ進むボタン
.order-btn{
    margin: 80px 0 0 20px;
    font-family: "M PLUS 1p";
	font-weight: bold;
}

// チャットルームボタン
.chat-room-btn{
    margin: 50px 0 0 120px;
    font-family: "M PLUS 1p";
	font-weight: bold;
}


