// Place all the styles related to the tourist/tours controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


// ツアー一覧ページトップ画像
.tourist-top-image {
    background-image: image-url("IMG_1533.jpeg");
    background-attachment: fixed;
	background-size: cover;
	background-position: center;
	height: 450px;
}

.tourist-top-image-box {
    width: 40%;
    height: 450px;
    background-color: rgba( 0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    position: relative;
}

.tourist-top-image-box-text {
    font-size: 30px;
    padding: 90px;
    position: absolute;
    top: 70px;
    left: 70px;
}



// ジャンルタブメニュー
.tourist-second-wrapper {
	background-color: black;
	height: 180px;
}

.genres-box {
    margin-top: 40px;
}

.genre-tab li {
    color: white;
    float: left;
    margin: 0 10px -1px 0;
    padding: 10px 20px;
    border: 1px solid #fb4343;
    cursor: pointer;
    list-style: none;
    transition: .3s;
}

.tab li.active {
    color: #fff;
    background: #fb4343;
    cursor: auto;
  }


// 予約へ進むボタン
.order-btn{
	margin: 80px 0 0 20px;
}

// チャットルームボタン
.chat-room-btn{
	margin: 50px 0 0 120px;
}


