// Place all the styles related to the tourist/tours controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


// ツアー一覧ページトップ画像
.tours-first-wrapper {
  background-color: black;
  height: 650px;
  color: white;
}

.tourist-top-image {
  background-image: image-url("IMG_1533.jpeg");
  background-attachment: fixed;
	background-size: cover;
	background-position: center;
	height: 500px;
}

.tourist-top-image-box {
  width: 40%;
  height: 500px;
  background-color: rgba( 0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  position: relative;
}

.tourist-top-image-box-text {
  font-size: 30px;
  padding: 90px;
  position: absolute;
  top: 150px;
  left: 20px;
  width: 100%;
}

.tourist-login-message {
  font-size: 20px;
  position: absolute;
  top: 40px;
  left: 70px;
  color: lime;
}

.header-city-search-phone-width {
  display: none;
}


// ジャンルタブメニュー
.tourist-headline {
  float: left;
  padding-left: 150px;
}

.genre-menu-btns-box {
  float: right;
  padding: 15px 130px 0 0;
}

.tourist-second-wrapper {
	background-color: black;
	height: 180px;
}

.genres-box-tab {
  margin-top: 40px;
}

.tourist-genre-btn {
  margin-right: 10px;
  font-weight: bold;
}

.genre_name {
  color: limegreen;
  margin-bottom: 30px;
}


// 予約へ進むボタン
.order-btn{
  margin: 80px 0 0 20px;
}

// チャットルームボタン
.chat-room-btn{
  margin: 50px 0 0 120px;
}








  //  ----------   レスポンシブ（タブレット）   ---------------
@media screen and (max-width:992px) {
  .tours-first-wrapper {
    background-color: black;
    height: 690px;
    color: white;
  }

  .tourist-top-image-box {
    width: 100%;
    height: 500px;
    background-color: rgba( 0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    position: relative;
  }

  .tourist-top-image-box-text {
    font-size: 30px;
    padding: 90px;
    text-align: center;
    width: 100%;
  }



  .genres-box-tab {
    width: 100%;
  }

  .tourist-headline {
    float: none;
    text-align: center;
    padding-left: 0px;
  }

  .genre-menu-btns-box {
    float: none;
    padding: 0px 0px 0 0;
    margin: 0 0 0 200px;
    width: 70%;
  }

  .tourist-genre-btn {
    width: 40%;
    float: left;
    margin-top: 10px;
  }

}











  //  ----------   レスポンシブ（スマホ）   ---------------
@media screen and (max-width:768px) {
  .tourist-top-image {
    background-image: image-url("IMG_1533.jpeg");
    background-attachment: fixed;
    background-size: cover;
    background-position: right;
    height: 400px;
  }

  .genre-menu-btns-box {
    float: none;
    padding: 0px 0px 0 0;
    margin: 0 0 0 70px;
    width: 90%;
  }

  .tourist-top-image-box {
    width: 100%;
    height: 400px;
    background-color: rgba( 0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    position: relative;
  }

  .tourist-top-image-box-text {
    font-size: 25px;
    padding: 0px;
    position: absolute;
    top: 150px;
    left: 0px;
    text-align: center;
    width: 100%;
  }

  .genres-box-tab {
    margin-top: 40px;
  }

  .tourist-headline {
    text-align: center;
  }

  .tourist-genre-btn {
    margin: 10px 20px 0 0;
    font-weight: bold;
  }

  .chat-room-btn{
    margin: 50px 0 0 90px;
  }
}
