<div class = "container">
	<div class = "row">
		<%= render 'back_button' %>
		<div class = "col-xs-4">
			<h2>ツアー前日・当日</h2>
		</div>
	</div>
	<table class = "table">
		<%= render 'thead' %>
		<tbody>
			<% @orders.each do |order| %>
				<%  if order.status == "ツアー前日" or order.status == "ツアー当日" %>
					<%= render 'tbody', order: order %>
				<% end %>
			<% end %>
		</tbody>
	</table>
</div>