<div class = "container">
	<div class = "row">
		<%= render 'back_button' %>
		<div class = "col-xs-4">
			<h2>終了済みのツアー</h2>
		</div>
	</div>
	<table class = "table">
		<%= render 'thead' %>
		<tbody>
			<% @orders.each do |order| %>
				<% if order.status == "ツアー終了" or order.status == "レビュー済み" %>
					<%= render 'tbody', order: order %>
				<% end %>
			<% end %>
		</tbody>
	</table>
</div>
