<div class = "container">
	<div class = "row">
		<div class = "col-xs-11 col-xs-offset-1">
			<h1>
				<%= link_to "こちらから", edit_guide_guide_path(current_guide) %>
				個人情報を更新すればツアーを投稿できます。
			</h1>
		</div>
	</div>
</div>