/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome-sprockets";
 @import "font-awesome";
 @import "slick-theme"; 
 @import "slick";


 .clearfix::after {
	content: "";
	display: block;
	clear: both;
  }

 .flash {
	color: lime;
}

.error-message {
	float: left;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

body {
	font-family: "M PLUS 1p";
	font-weight: bold;
	width: 100%;
}


 /* header */
 header {
	background-color: black;
	width: 100%;
	height: 75px;
	position: relative;
  position: sticky;
	top: 0;
	z-index: 1000;
}

.application-wrapper {
	padding: 40px 0 40px;
}

.logo {
	line-height: 70px;
  color: #FAFAFA;
  padding-left: 30px;
	font-size: 40px;
	float: left;
}

.header-login li a {
  float: right;
  line-height: 70px;
  margin-right: 20px;
  color: white;
  font-size: 20px;
}


// ハンバーガーメニュー
.hm-icon-box {
	position: relative;
}

.hm-icon{
	position: fixed;
	right: 40px;
	top: 15px;
	z-index: 10;
	background-color: rgb(250, 250, 250);
	border-radius: 20px;
	width: 9%;
	padding: 3px 9px 0 20px;
}

.non-login-hm-icon {
	position: absolute;
	right: -50px;
	color: black;
}

.header-notice a {
	position: absolute;
	right: 10px;
	color: black;
}


.menu-trigger,
.menu-trigger span {
	display: inline-block;
	transition: all .4s;
	box-sizing: border-box;
	color: limegreen;
}

.menu-trigger {
	position: relative;
	width: 50px;
	height: 44px;
}

.menu-trigger span {
	position: absolute;
	left: 0;
	width: 100%;
	height: 4px;
	background-color: black;
	border-radius: 4px;
}

.menu-trigger span:nth-of-type(1) {
	top: 0;
}

.menu-trigger span:nth-of-type(2) {
	top: 20px;
}

.menu-trigger span:nth-of-type(3) {
	bottom: 0;
}

.menu-trigger.hm-active span:nth-of-type(1) {
	-webkit-transform: translateY(20px) rotate(-45deg);
	transform: translateY(20px) rotate(-45deg);
	background-color: #000;
}

.menu-trigger.hm-active span:nth-of-type(2) {
	opacity: 0;
}

.menu-trigger.hm-active span:nth-of-type(3) {
	-webkit-transform: translateY(-20px) rotate(45deg);
	transform: translateY(-20px) rotate(45deg);
	background-color: #000;
}

// ハンバーガーsp
.sp-menu {
	position: fixed;
	top: 0;
	left: 0;
	background: #000;
	color: #000;
	width: 100%;
	min-height: 100%;
	display: none;
	z-index: 9;
}

.tourist-hm-menu-box {
	margin: 0 auto;
	width: 35%;
}

.guide-hm-menu-box {
	margin: 0 auto;
	width: 40%;
}

.tourist-hm-menu li {
	float: left;
	text-align: center;
}

.guide-hm-menu li {
	float: left;
	margin: 0 0 0 90px;
	text-align: center;
}

.sp-menu li{
	text-align: center;
	margin-bottom: 30px;
}

.sp-menu a{
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}

.guide-notice-icon {
	padding-left: 30px;
}

.guide-tour-icon {
	padding-left: 60px;
}

li{
	list-style: none;
}


// 都市検索窓
.header-city-search {
	height: 40px;
	float: right;
	position: absolute;
	right: 540px;
	top: 20px;
}

.header-city-search-phone-width {
	display: none;
}

// 
.admin_search {
	height: 40px;
	float: right;
	position: absolute;
	left: 500px;
	top: 20px;
}

// touristログインページリンク
.login_name{
	color: white;
	line-height: 70px;
	padding-left: 30px;
}

// guideマイページリンク
.guide-mypage-link {
	color: white;
	line-height: 70px;
	padding-left: 30px;
}

.guide-phone-my-page {
	display: none;
}

.selfy_image {
	border-radius: 10px;
}

.guide-login-name {
	color: white;
}

// 通知マーク
.bell {
	position: relative;
}

.circle {
	position: absolute;
	right: -5px;
	bottom: -5px;
	font-size: 20px;
}



//  devise関連
.devise-field {
	margin-top: 40px;
}

.guest-login {
	margin-top: 30px;
}

.devise-login-text {
	height: 40px;
}

.login_message {
	color: lime;
}



//---  ツアー一覧ページ ---
.tours-first-wrapper {
	background-color: black;
	height: 640px;
	color: white;
}

.tours-phots-box {
	margin-bottom: 50px;
	padding-bottom: 10px;
}

.tours-photo-index {
	border-radius: 5%;
	transition: 0.5s;
	box-shadow: 0 15px 15px #666666; 
}

.tours-photo-index:hover {
	transform: scale(1.1, 1.1);
}




// -----  ツアー詳細ページ -------
.tour-img {
	border-radius: 3%;
	box-shadow: 0 3px 5px gray; 
}

.tour-top-wrapper {
	height: 600px;
	background-color: black;
	color: white;
	position: relative;
}

.guide_book_marks {
	position: absolute;
	right: 60px;
	top: 80px;
}

.guide_book_marks_numbers {
	font-size: 50px;
}

.guide-tour-introduction {
	color: red;
}

// ----- ツアー写真 -----
.tour-image-wrapper {
	height: 400px;
	padding: 30px 0 0 110px;
	background-color: black;
	position: relative;
}

.tour-img-1 {
	float: left;
  margin-right: 20px;
}

.tour-img-2-4 {
    float: left;
}

.tour-img-2 {
	float: left;
	margin-right: 15px;
}

.tour-img-3 {
	float: left;
}

.tour-img-2-3 {
	margin-bottom: 10px;
}

.tour-img-4 {
	float: left;
}

.tour-img-5 {
	float: left;
	padding-left: 15px;
}

.tour-images-width-phone {
  display: none;
}



// ----- ツアー概要 -----
.tour-info-wrapper {
	padding-top: 60px;
	background-color: black;
	color: white;
	height: 250px;
}

.tour-info-width-phone {
  display: none;
}

.tour-info-width-laptop {
	padding: 40px 0 0;
  }

.left-bar{
	
}

.order-btn{
	margin: 30px auto 20px;
	font-weight: bold;
  }

.city-name{
	margin: 30px 0;
}

.right-bar{
	margin-left: -120px;
}

.contents_of_price{
	margin-top: 10px;
}

.edit-tour-btn{
	margin: 30px 0 0 40px;
}

.tour-body-title{
	margin: 100px 0 0 90px;

}


.guide-tour-details {
	margin-top: 40px;
	margin-bottom: 200px;
	border-top: dotted 0.1px gray;
}

.guide-body-title{
	margin-left: 140px;
	opacity: 0;
  transform: translateX(-60px);
  transition: all 1s;
}

.guide-body-title.tour-scrollin {
    opacity: 1;
    transform: translateY(0);
}



.guide-body-text{
	line-height: 50px;
}

.guide-introduction-text{
	margin: 20px 0 0 10px;
}

.guide-name {
	margin: 30px 0px 0 30px;
}

// レビュー
.review-message-box {
	border-bottom: solid 3px black;
	margin-bottom: 30px;
}


// footer
footer {
	color: white;
	margin-top: auto;
	height: 70px;
	background-color: black;
}

.contact-btn {
	float: left;
	color: white;
	line-height: 70px;
	padding-left: 40px;
}

.user-delete-btn {
	float: right;
	color: white;
	line-height: 70px;
	padding-right: 40px;
}

.pagination>li>a {
	border: none;
	color: black;
  }

  .pagination>.active>a {
	background: limegreen;
	border-radius: 15px;
  }
  
  .pagination>li>a:hover {
	border-radius: 15px;
	background: limegreen;
  }




  //  ----------   レスポンシブ   ---------------
@media screen and (max-width:480px) {

body {
	width: 100%;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.header-city-search {
  display: none;
}


// ハンバーガーメニュー
.hm-icon-box {
	position: relative;
}

.hm-icon{
	position: fixed;
	right: 40px;
	top: 15px;
	z-index: 10;
	background-color: rgb(250, 250, 250);
	border-radius: 20px;
	width: 35%;
	padding: 3px 9px 0 20px;
}

.header-notice a {
	position: absolute;
	right: 5px;
	color: black;
}

.tourist-hm-menu-box {
	margin: 50px auto 0;
	width: 100%;
}

.tourist-hm-menu li {
	float: none;

}

.guide-hm-menu-box {
	margin: 50px auto 0;
	width: 100%;
}

.guide-hm-menu li {
	float: none;
	font-size: 20px;
}

.header-city-search-phone-width {
	display: block;
	margin: 20px 0 40px 20px;
}

.guide-mypage-link {
	color: white;
	line-height: 70px;
	padding-left: 30px;
	display: none;
}

.guide-phone-my-page {
	display: block;
}

.guide-tour-icon {
	padding-left: 0px;
}

.guide-notice-icon {
	padding-left: 0px;
}

.guide-new-tour-icon {
	padding-left: -20px;
}





// ツアー詳細画面
.tour-image-wrapper {
  height: 350px;
  padding: 0 0 0 0;
	background-color: black;
	position: relative;
}


//  --- ツアー写真 ---
 .tour-images-width-laptop {
  display: none;
 }

 .tour-images-width-phone {
  display: block;
  margin: 0 auto;
  height: 50px;
 }

 #theTarget {
   margin: 20px auto 0;
   width: 80%;
 }

 .tour-link-title {
   text-align: center;
 }

 .tour-link-info {
  text-align: center;
}



//  --- ツアー情報 ---
 .tour-info-width-phone {
  display: block;
}

.tour-info-width-laptop {
  display: none;
}

.tour-info-wrapper {
  padding-top: 50px;
  background-color: black;
  color: white;
  height: 500px;
}

.tour-city-name {
  float: none;
  font-size: 20px;
  padding-left: 70px;
  display: block;
  text-align: center;
}

.tour-genre-name {
  float: none;
  font-size: 20px;
  padding-left: 70px;
  display: block;
  text-align: center;
}

.contents-of-price-text {
	font-size: 18px;
}


//  --- ツアー情報詳細 ---
.guide-tour-title {
  text-align: center;
}

 .guide-body-title{
  margin-left: 0;
  text-align: center;
	opacity: 0;
  transform: translateX(-60px);
  transition: all 1s;
}

.order-btn{
  margin: 30px auto 20px;
  font-weight: bold;
}

.edit-tour-btn{
	margin: 30px 0 0 40px;
}
}

