/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome-sprockets";
 @import "font-awesome";


 .flash {
	color: lime;
}



 /* header */
 header {
	background-color: black;
	width: 100%;
	height: 70px;
	position: relative;
}

.logo {
	line-height: 70px;
    color: #FAFAFA;
    padding-left: 30px;
	font-size: 30px;
	float: left;
}

li{
	list-style: none;
	margin-top: 5px;
}

nav ul{
	float: right;
}

nav li{
	float: left;
	line-height: 70px;
	padding: 0 15px 0;
}

nav li a{
    color: white;
	font-size: 16px;
}



// ------ devise関連 ---------
.devise-field {
	margin-top: 40px;
}

.guest-login {
	margin-top: 30px;
}

.devise-login-text {
	height: 40px;
}

.login_message {
	color: lime;
}