/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome-sprockets";
 @import "font-awesome";


 .flash {
	color: lime;
}



 /* header */
 header {
	background-color: black;
	width: 100%;
	height: 70px;
	position: relative;
    position: sticky;
	top: 0;
	z-index: 100;
}

.logo {
	line-height: 70px;
    color: #FAFAFA;
    padding-left: 30px;
	font-size: 30px;
	float: left;
}

li{
	list-style: none;
	margin-top: 5px;
}

nav ul{
	float: right;
}

nav li{
	float: left;
	line-height: 70px;
	padding: 0 15px 0;
}

nav li a{
    color: white;
	font-size: 16px;
}

// 都市検索窓
.header-city-search {
	height: 40px;
	float: right;
	position: absolute;
	right: 540px;
	top: 20px;
}






//  devise関連
.devise-field {
	margin-top: 40px;
}

.guest-login {
	margin-top: 30px;
}

.devise-login-text {
	height: 40px;
}

.login_message {
	color: lime;
}



//ツアー一覧ページ
.tours-first-wrapper {
	background-color: black;
	height: 580px;
	color: white;
}

.tours-phots-box {
	margin-bottom: 50px;
	padding-bottom: 10px;
}

.tours-photo-index {
	border-radius: 5%;
}






// -----  ツアー詳細ページ -------
.tour-img {
	border-radius: 3%;
}

.tour-top-wrapper {
	height: 600px;
	background-color: black;
	color: white;
	position: relative;
}

.guide_book_marks {
	position: absolute;
	right: 60px;
	top: 80px;
}

.guide_book_marks_numbers {
	font-size: 50px;
}

.guide-tour-introduction {
	color: red;
}

// ----- ツアー写真 -----
.tour-image-wrapper {
	height: 400px;
	padding: 30px 0 0 150px;
	background-color: black;
	position: relative;
}

.tour-img-1 {
	padding-right: 20px;
}

.tour-img-2 {

}

.tour-img-3 {
	padding-left: 10px;
}

.tour-img-4 {
	padding-top: 10px;
}

.tour-img-5 {
	padding-left: 15px;
}



// ----- ツアー概要 -----
.tour-info-wrapper {
	padding: 30px 0 0 0px;
	background-color: black;
	color: white;
}


.left-bar{
	margin: 55px 0 0 40px;
}

.city-name{
	margin: 30px 0;
}

.right-bar{
	margin-left: -100px;
}

.contents_of_price{
	margin-top: 10px;
}

.edit-tour-btn{
	margin: 80px 0 0 40px;
}

.tour-body-title{
	margin: 100px 0 0 90px;

}


.guide-tour-details {
	margin-top: 40px;
	margin-bottom: 200px;
	border-top: dotted 0.1px gray;
}

.guide-body-title{
	margin-left: 140px;
}

.guide-body-text{
	line-height: 50px;
}

.guide-tour-guide-introduction{
	margin: 20px 0 0 30px;
}